<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Millionaire's Secrets</title>
</head>
<body class="bg-secondary text-white">
    <!-- Image and text -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <a class="navbar-brand" href="index.html">
            <h3 class="d-inline align-middle">FastCash Media</h3>
         </a>
    </nav>
    
    
    <div class="container">           
        {{{body}}}
    </div>
    
</body>
</html>