<section class="py-2">
    <div class="row">   
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">    
                Make Money Increase Your Net Worth
            </h1>
            <p class="lead"> 
                Become A Money Guru Guide Book
            </p>
            <form action="/charge" method="POST">
                <script
                     src="https://checkout.stripe.com/checkout.js" 
                     class="stripe-button"
                     data-key="{{stripePublishableKey}}"
                     data-amount="2500"
                     data-name="Web Development Ebook"
                     data-description="Make Your Money Work For You"
                     data-image="/img/money.png"
                     data-locale="auto">
                </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $25</button>  
            </form>    
        </div>
        <div class="col-md-6">
           <img  src="/img/millionaire.png" alt="book" class="img-fluid">
        </div>
    </div>
</section>